/* Navbar */

nav {
  display: block;
  font-family: 'Bungee', cursive;
  background: #4056a1;
  height: 120px;
  width: 100%;
  top: 0;
  padding: 1.5em;
  z-index: 99;
}

span {
  padding: 1.5em;
}

.nav-write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top: 0.2em;
  right: 1.5em;
  flex-direction: column;
}
