/* Navbar */

nav {
  display: block;
  font-family: 'Bungee', cursive;
  background: #4056a1;
  height: 120px;
  width: 100%;
  top: 0;
  padding: 1.5em;
  padding-top: 1.5em;
  z-index: auto;
}

span {
  padding: 1.5em;
}

/* .nav-right {
  position: absolute;
  left: 0;
  text-align: center;
  margin: 0 auto;
} */
