/* Navbar */

nav {
  display: block;
  font-family: 'Bungee', cursive;
  background-color: #00cccc;
  background-image: url('https://www.transparenttextures.com/patterns/batthern.png');
  height: 120px;
  width: 100%;
  top: 0;
  padding: 1.5em;
  z-index: 99;
}

span {
  padding: 1.5em;
}

.nav-write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top: 0.2em;
  right: 1.5em;
  flex-direction: column;
}

#compose {
  color: #e31735;
}

.compose-button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  margin-right: 10vh;
}

#compose {
  opacity: 1;
  animation: fade 1.5s linear;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
