button {
  background-color: #4052a0;
  font-family: 'Bungee', cursive;
  margin-top: 0.5em;
  border: none;
}

output.counter {
  font-family: 'Bungee', cursive;
  margin-top: 0.5em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1em;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  border-bottom-style: solid;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 2em;
  background-color: #f4f1ec;
  border: none;
  border-bottom-style: solid;
  border-color: #545149;
  resize: none;
  width: 100%;
}

/* --------------------- NEW TWEETS IN CONTAINER ------------------- */
article {
  margin-top: 30px;
  height: 200px;
  width: 100%;
  border: 3px solid #545149;
  background-color: #f4f1ec;
  padding: 1em;
}

.head-container {
  display: flex; /* name and username */
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: space-between;
  height: 0px;
  color: #545149;
}

p {
  width: 100%;
  padding: 0em;
  margin-bottom: 0px;
  margin-top: 2em;
  padding-left: 0.5em;
  word-wrap: break-word;
}

article:hover {
  box-shadow: 5px 5px #c8cfe4;
}

.tweet-username-container {
  display: none;
}

article:hover .tweet-username-container {
  display: block;
  color: #c8cfe4;
}

.foot-container {
  background-color: #f4f1ec;
  padding: 0em;
  margin: 0em;
  font-size: medium;
  border-top: solid;
  border-color: #545149;
}

#error-message {
  color: red;
}
