button {
  background-color: #4052a0;
  font-family: 'Bungee', cursive;
  position: absolute;
  left: 10%;
  margin: 10% 1.5em;
  border: none;
}

.counter {
  font-family: 'Bungee', cursive;
  position: absolute;
  right: 10%;
  margin: 10% 1.5em;
}

tweet-text {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  border-bottom-style: solid;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f1ec;
  border: none;
  border-bottom-style: solid;
  resize: none;
  width: 100%;
}

/* footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
} */
